ul {
    list-style: none;
}

a {
    margin: 0.3rem;
    text-decoration: none;
    color: #555;
    background-color: #e5e5e5;
    padding: 0.2rem;
    border-radius: 2px;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
